service: EP-credit-notes

provider:
  name: aws
  runtime: python3.9
  stage: stage
  region: eu-central-1
  lambdaHashingVersion: 20201221
  memorySize: 256
  timeout: 30

plugins:
  - serverless-python-requirements

package:
  individually: true

functions:
  EPAPI:
    name: containerized-ep-credit-notes-api
    # CodeUri: credit_notes
    description: Unleashed Credit Notes Generator
    timeout: 5 # seconds
    memorySize: 1500 # mb
    image: 016340991174.dkr.ecr.eu-central-1.amazonaws.com/ep-credit-notes@sha256:53f0eda37588b26d2526f7b453a946487045a4e2a5303479e6aca42cd57d7c26
    events:
      - http:
          path: /{proxy+}
          method: ANY
    package:
      patterns:
        - "!node_modules/**"
        - "!yarn.lock"
        - "!package-lock.json"
        - "!package.json"
        - "!.pytest_cache"
        - "!__pycache__"
        - "!.pre-commit-config.yaml"
        - "!.flake8"


# service: EP-credit-notes

# provider:
#   name: aws
#   runtime: python3.8
#   stage: stage
#   region: eu-central-1
#   lambdaHashingVersion: 20201221

# plugins:
#   - serverless-python-requirements

# package:
#   individually: true

# functions:
#   EPAPI:
#     name: EP-serverless
#     # CodeUri: credit_notes
#     handler: credit_notes.app.main.handler
#     description: Unleashed Credit Notes Generator
#     timeout: 5 # seconds
#     memorySize: 1500 # mb
#     events:
#       - http:
#           path: /{proxy+}
#           method: ANY
#       - http:
#           path: /api/create-credit
#           method: POST
#     package:
#       patterns:
#         - "!node_modules/**"
#         - "!yarn.lock"
#         - "!package-lock.json"
#         - "!package.json"
#         - "!.pytest_cache"
#         - "!__pycache__"
#         - "!.pre-commit-config.yaml"
#         - "!.flake8"

