service: EP-credit-notes

provider:
  name: aws
  runtime: python3.9
  stage: stage
  region: eu-central-1
  lambdaHashingVersion: 20220303
  memorySize: 256
  timeout: 30

plugins:
  - serverless-python-requirements

package:
  individually: true

functions:
  EPAPI:
    name: containerized-ep-credit-notes-api
    # CodeUri: credit_notes
    # handler: credit_notes.app.main.handler
    description: Unleashed Credit Notes Generator
    timeout: 5 # seconds
    memorySize: 1500 # mb
    image: 016340991174.dkr.ecr.eu-central-1.amazonaws.com/ep-credit-notes@sha256:076ad3caac43bb8107a1a71aec9f819f1787ae88f2fc106b7591240c6da10bf1
    events:
      - http:
          path: /{proxy+}
          method: ANY
      - http:
          path: /api/create-credit
          method: POST
    package:
      patterns:
        - "!node_modules/**"
        - "!yarn.lock"
        - "!package-lock.json"
        - "!package.json"
        - "!.pytest_cache"
        - "!__pycache__"
        - "!.pre-commit-config.yaml"
        - "!.flake8"

