service: EP-credit-notes

provider:
  name: aws
  runtime: python3.9
  stage: stage
  region: eu-central-1
  lambdaHashingVersion: 20220303

plugins:
  - serverless-python-requirements

package:
  individually: true

functions:
  EPAPI:
    name: EP-serverless
    handler: credit_notes.app.main.handler
    description: Unleashed Credit Notes Generator
    timeout: 5 # seconds
    memorySize: 1500 # mb
    events:
      - http: ANY /api/create-credit
      - http:
          path: /{proxy+}
          method: ANY
    package:
      patterns:
        - "!node_modules/**"
        - "!yarn.lock"
        - "!package-lock.json"
        - "!package.json"
        - "!.pytest_cache"
